<div class="container">
    <div class="row">

        <div class="dropdown" mdbDropdown>

            <button mdbDropdownToggle mdbBtn color="light" class="dropdown-toggle waves-light btn-md" type="button" mdbWavesEffect>
                {{ region }}
            </button>

            <div class="dropdown-menu dropdown-primary">
                <ng-container *ngFor="let region of regions">
                    <a class="dropdown-item" href="#" (click)="handleRegionSelection($event)">{{ region }}</a>
                    <div *ngIf="region.indexOf('Taiwan') >= 0" class="divider dropdown-divider"></div>
                </ng-container>
            </div>
        </div>

        <div class="pt-1 pl-2">
            <mdb-date-picker name="StartDate" [inline]="true" [options]="datePickerOptions"
                [placeholder]="'Start Date'" [(ngModel)]="startDate" (ngModelChange)="datePickerChanged()" [locale]="'en'"></mdb-date-picker>
        </div>

        <div class="pt-1 pl-2">
            <mdb-date-picker name="EndDate" [inline]="true" [options]="datePickerOptions" [placeholder]="'End Date'"
                [(ngModel)]="endDate" (ngModelChange)="datePickerChanged()" [locale]="'en'"></mdb-date-picker>
        </div>

        <div class="pl-2">
            <button type="button" mdbBtn class="btn btn-primary btn-md animated" [class.lightSpeedIn]="showUpdateButton" [class.flipOutX]="!showUpdateButton" (click)='updateScreen()'>Update</button>
        </div>
    </div>
</div>
