<div class="dropdown" mdbDropdown>

    <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
        {{ region }}
    </button>

    <div class="dropdown-menu dropdown-primary">
        <ng-container *ngFor="let region of regions">
            <a class="dropdown-item" href="#" (click)="handleRegionSelection($event)" >{{ region }}</a>
            <div *ngIf="region.indexOf('Taiwan') >= 0" class="divider dropdown-divider"></div> 
        </ng-container>
    </div>
</div>