<h1>Infection Data</h1> 
<br>
<p>
    This program is for the exclusive use of family, friends, and colleagues by invitation only.&nbsp;&nbsp;Any other use is strictly prohibited.
</p>
<p>
    The information herein is deemed reliable but not guaranteed.
</p>
<p>
    According to the CDC, States are doing their own testing and not reporing all of their results.&nbsp;&nbsp;All results not be reflected here.
</p>
<p>
    Data Courtesy of
    <a href='https://hgis.uw.edu/' target="_blank" >University of Washington Humanistic GIS Laboratory</a>
</p>
<p>
    The Official HGIS Website is <a href='https://hgis.uw.edu/virus/' target="_blank" >here</a>
</p>

<p>
    Source Code for this website is <a href='https://github.com/screamatthewind' target="_blank">here</a>
</p>
<br>
<h3>Other Websites</h3>
    <ul>
        <li><a href='https://covid19.healthdata.org/united-states-of-america' target="_blank">IMHE Projections</a></li>
        <li><a href="https://rt.live/" target="_blank">Reproduction Rate</a></li>
    </ul>
<br>
<p>
    <a href="https://aws.amazon.com/what-is-cloud-computing" target="_blank"><img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing" style="height:66px; width:183px"></a>
</p>
