<h1>Infection Data</h1> 
<br>
<p>
    This program is for the exclusive use of family, friends, and colleagues by invitation only.  Any other use is strictly prohibited.  
</p>
<p>
    The information herein is deemed reliable but not guaranteed.
</p>
<p>
    According to the CDC, States are doing their own testing and not reporing all of their results.  All results not be reflected here.
</p>
<p>
    Data Courtesy of
    <a href='https://hgis.uw.edu/' target="_blank" >University of Washington Humanistic GIS Laboratory</a>
</p>
<p>
    Source code is <a href='https://github.com/screamatthewind' target="_blank">here</a>
</p>
<br>
<p>
    <a href="https://aws.amazon.com/what-is-cloud-computing" target="_blank"><img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing" style="height:66px; width:183px"></a>
</p>